<nav class="navbar">
  <div class="container">
    <h1 class="site-title">KeysSoft Designs</h1>
    <ul class="display-f">
      <li class="ml-1 text-hover-secondary">
        <a href="#work">Our Work</a>
      </li>
      <li class="ml-1 text-hover-secondary">
        <a href="#about">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Intro -->
<div class="container mt-5">
  <div class="row justify-center">
    <div class="col-12-xs col-5-md mb-1">
      <h2>
        <div class="font-xxl">Black-Belt</div>
        <div class="font-xxl text-secondary">Your Website</div>
      </h2>
      <p class="text-gray mt-2 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ad.</p>
      <a href="#work" class="btn-outlined-secondary text-secondary text-hover-white">
        View Our Work
      </a>
    </div>
    <div class="col-12-xs col-5-md">
      <img src="/assets/img/laptop.jpg" alt="laptop">
    </div>
  </div>
</div>

<!-- About Section -->
<section id="about" class="bg-secondary-light-9 mt-5 pt-4 pb-4">
  <div class="container">
    <h2 class="mb-2">About Keyssoft Designs</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, perferendis 
      nostrum ipsum officia, ipsa praesentium harum ex laudantium veritatis 
      quia quibusdam error quasi, minima nisi et unde. Exercitationem, rerum ducimus?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis voluptatem voluptatibus, deserunt tempora
      ea.
    </p>
    <p class="mt-1">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis dolorum 
      odio necessitatibus natus ipsa! Sit qui maxime inventore minus quidem aliquid, 
      quae alias possimus non ut nobis at, soluta voluptatem, corrupti vel. 
      Itaque nobis quis voluptatibus consectetur dolore, repellat voluptate!
    </p>
  </div>
</section>

<!-- work -->
<section id="work" class="mt-5">
  <div class="container">
    <h2 class="mb-2">Some of Our Work</h2>
    <div class="row gap-2">
      <div class="col-12-xs col-6-md col-3-lg">
        <div class="card p-0">
          <h3 class="card-title m-1">Mario Club</h3>
          <img src="/assets/img/mario.jpeg" alt="mario">
          <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, inventore?</p>
        </div>
      </div>
      <div class="col-12-xs col-6-md col-3-lg">
        <div class="card p-0">
          <h3 class="card-title m-1">Ninja Food</h3>
          <img src="/assets/img/food.jpeg" alt="food">
          <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, inventore?</p>
        </div>
      </div>
      <div class="col-12-xs col-6-md col-3-lg">
        <div class="card p-0">
          <h3 class="card-title m-1">Just Add Marmite</h3>
          <img src="/assets/img/marmite.jpeg" alt="food">
          <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, inventore?</p>
        </div>
      </div>
      <div class="col-12-xs col-6-md col-3-lg">
        <div class="card p-0">
          <h3 class="card-title m-1">Ninja Notes</h3>
          <img src="/assets/img/notes.png" alt="food">
          <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, inventore?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-center mt-2">
    <button class="btn-secondary text-white font-md">View All</button>
  </div>
</section>

<!-- footer -->
<footer class="bg-gray-light-7 pt-3 pb-3 mt-5">
  <div class="container">
    copyright 2023 Keyssoft Designs
  </div>
</footer>